@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 34px;
    border-bottom: 1px solid #c9cbd3;
    flex-wrap: wrap;

}

.nav-logo img{
    width: 100%;
}

a{
    text-decoration: none;
    color: #191a23;
    font-size: 1rem;
}

.nav-pages ul{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.nav-pages ul li{
    list-style: none;
}

.navbar-button{
    border-radius: 10px;
    border: 1px solid #191a23;
    padding: 15px 20px 15px 20px;
}

.middle-div{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-left: 70px;
    padding-right: 70px;
    flex-wrap: wrap;
    /* margin-bottom: 70px; */
}

.middle-image img{
    /* width: 60%; */
}

.middle-content h1{
    font-size: 3.5rem;
    margin-bottom: 34px;
}

.middle-content p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.middle-content button{
    border-radius: 7px;
    border: 1px solid #191a23;
    padding: 15px 20px 15px 20px;
    background-color: #191a23;
    margin-bottom: 34px;
}

.middle-content button a {
    color: #c9cbd3;
}

.middle-images-1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 34px;
}

.service-content{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-top: 70px;
    padding-left: 70px;
}

.service-content mark {
    background-color: #B9FF66;
    color: #191a23; 
    
  }

.service-content h1{
    font-size: 2rem;
}

.service-content p {
    font-size: 1rem;
}

.search-engine-div{
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    flex-wrap: wrap;
}

.search-engine-content-img{
    display: flex;
    border: 1px solid #191a23;
    border-radius: 30px;
    padding: 40px 60px 40px 60px;
    gap: 50px;
    align-items: center;
    border-bottom: 5px solid  #191a23;
    flex-wrap: wrap;

}

.search-engine-content button {
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.search-engine-content h2{
    font-size: 1.2rem;
}

.pay-per-content-img{
    display: flex;
    border: 1px solid #191a23;
    border-radius: 30px;
    padding: 40px 60px 40px 60px;
    gap: 50px;
    align-items: center;
    border-bottom: 5px solid  #191a23;  
    background-color: #B9FF66;
    flex-wrap: wrap;
}

.pay-per-content h2{
    font-size: 1.2rem;
}

.pay-per-content button {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: #B9FF66;
}

.search-engine-content mark {
    background-color: #B9FF66;
    color: #101016; 
}

.pay-per-content mark {
    background-color: #ffffff;
    color: #101016;
}

.consultation-div{
    padding-left: 70px;
    padding-right: 70px;
}

.consultation-div h1{
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 2.5rem;
}

.consultation-div span{
    font-size: 2rem;
}

.consultation-div p{
    margin-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1rem;
}

.consult-content {
    border: 1px solid #191a23;
    border-radius: 30px;
    border-bottom: 5px solid #191a23;   
    background-color: #B9FF66;
}
